frontend http
   bind *:8080
   acl vm path_end -i /api/v1/vm 
   acl docs path_end -i /api-docs/
   acl grafana path_end -i /login

   use_backend srvs_vm if vm
   use_backend srvs_docs if docs
   use_backend srvs_garafana if grafana

backend srvs_vm 
   balance roundrobin 
   http-request set-path /api/v1/vm
   server host1 192.168.54.17:8000 check 
   server host2 192.168.54.30:8000 check

backend srvs_docs 
   balance roundrobin 
   http-request set-path /api-docs/
   server host1 192.168.54.17:8000 check
   server host2 192.168.54.30:8000 check


backend srvs_docs
   http-request set-path /login
   server host1 192.168.54.16:3000 check
