frontend http
acl vm path_end -i /api/v1/vm #matches path ending with "/app/123"
acl ip path_end -i /api/v1/ip 
acl docs path_end -i /api-docs

use_backend srvs_vm    if vm
use_backend srvs_ip    if ip
use_backend srvs_docs    if docs

backend srvs_vm 
   balance roundrobin 
   http-request set-path /api/v1/vm if vm
   server host1 192.168.54.19:8000 
   server host2 192.168.54.15:8000

backend srvs_ip 
   balance roundrobin 
   http-request set-path /api/v1/vm/ip if ip
   server host1 192.168.54.19:8000 
   server host2 192.168.54.15:8000

backend srvs_docs 
   balance roundrobin 
   http-request set-path /api-docs if docs
   server host1 192.168.54.19:8000 
   server host2 192.168.54.15:8000

