#cloud-config
hostname: bioniccloud1
fqdn: bioniccloud1.example.com
manage_etc_hosts: true
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCcoc/LwpUZs4VS5XKotM8O9FVlowvAFh2dXs5nNHTyMOGreU73UGbj6sobbpJ5g4rD7b3hqi4TiowITmg3/qx2zXjp+jeuTySj0T+bxTRZbtClGjgf93liTBCeDXh87uBw6TTyAdSlPCLsGZ4LvgX0JVQgth9GmKeGJ5JcLWZQWjkdxZv+X84o7QwJjJCsDGgMMmR1NHcETTqCZjajnz/IyqEK7Q9NfOL944qQD5yblb8KqGz+dWYrMgr36ojNly0KtgwMXJeBmno6oAkcPzVSKUgjRpOJzBJCIcRDORTc2ojN56fMR9YVy1e8nyuQ7Odh8+o/Uz4KJN05Z/mATZiIELtZem22GDxx9Vt06Or63Ww4KePsMEi+zfSyXRylPHhCK/y23RAMCfsckwxob5UBD9DCRMuo7cETGqn7pdSSd8lFmKRTDX1X8tsB8FE46dxQNTvaj6DBeWwm+Teytug1LfHIDQPWr/AKfuma94dMqaBTsR77HpDUuQdl+8qvo56IWLf4F+ERitCJ+lT2gbNwXecIrWIl4HI+fxO1/GuUvXvOx3Vy7JkxragBr55y/Qr32zAsBGs9BKTOFKvfHSNbocrJBRM2L93mX2/cVAfr2FaRF4253DLOSQH218aRPJpQjoTjFKnz8EjULuw1lUsTZKlGDL7RBF+211WUys8dww==
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     ubuntu:linux
  expire: False
packages:
  - qemu-guest-agent

growpart:
  mode: auto
  devices: ['/']
disk_setup:
  /dev/vdb:
    table_type: gpt
    layout: True
    overwrite: False
fs_setup:
  - label: DATA_XFS
    filesystem: xfs
    device: '/dev/vdb'
    partition: auto
    #cmd: mkfs -t %(filesystem)s -L %(label)s %(device)s
mounts:
  # [ /dev/vdx, /mountpoint, fstype ]
  - [ LABEL=DATA_XFS, /dataxfs, xfs ]

# 3rd col=fs type, 4th col=permissions, 5th=backup enabled, 6th=fsck order
mount_default_fields: [ None, None, "ext4", "defaults,noatime","0","2"]

# every boot
bootcmd:
    - [ sh, -c, 'echo ran cloud-init again at $(date) | sudo tee -a /root/bootcmd.log' ]

# run once for setup
runcmd:
    - [ sh, -c, 'update-grub' ]

# reboot so grub config takes affect
power_state:
  mode: reboot

# written to /var/log/cloud-init-output.log
final_message: "The system is finall up, after $UPTIME seconds"