<pool type="rbd">
  <name>vmpool</name>
  <source>
    <name>libvirt</name>
    <host name='{{ip}}'/>
    <auth username='libvirt' type='ceph'>
      <secret uuid='{{uuid}}'/>
    </auth>
  </source>
</pool>